/* developer styles go here */

body {
    font-family: sans-serif;
}

header {
    max-width: 58rem;  /* this is a FIXED-CONTAIER (928px)*/
    margin: 0 auto;
}

/** Step 1. Style all the menu links for the smaller screen
/** text styles goes on the anchor tag to overwrite the browser 
/** BUT LAYOUT AND SPACING GOES ON li***/

ul.menu {
    background-color: #191919;
    color: #f5f5f5;  /* THIS WILL DO NOTHING, BC IT NEEDS TO BE IN ANCHOR TAG*/
}
ul.menu a {
    color:#f5f5f5;
    
    text-transform: uppercase;
    display: block;
    padding: 0 1rem; /*by putting the padding here instead of ul.menu li, we keep the area to the left of words clickable for big thumbs*/
}

/* Normally the line-height is 1.5. If we make it more, it will vertically align the text within*/
ul.menu li {
    line-height: 40px;
    margin-bottom: 0.5rem;
    /*allows us to position the submenu absolutely but relative to this element*/
    position: relative;
}

/*But our anchor tag is still tiny and inline. Good luck hitting that on a phone screen*/
/*add display: block to ul.menu a */

/*we add hever state to mobile as well as desktop, bc it shows the user that something is happening*/
 ul.menu a:hover,
 ul.menu a:active {
    background-color: magenta;
    border-radius: 5px;
 }

 ul.submenu {
    padding: 0 1rem;
 }

 ul.submenu a {
    text-decoration: none;
 }

 @media screen and (min-width:58rem) {
    ul.menu {
        display: flex;
        justify-content: space-between;
    }

     /* Step 2. Position and style the drop-down submenus */
    ul.submenu {
        padding: 0;  /*makes submenu directly underneath*/
        position: absolute;
        right: 0;
        background-color: #191919;
        border-radius: 0 0 5px 5px;
        visibility: hidden;
        opacity: 0;
     }

     ul.menu li {
        flex: 1 0 auto;  /* see what happens when you turn this off!*/
        text-align: center;
        margin-bottom: 0;
     }

     /* Add a hover-state that will show the submenu*/
     ul.menu li:hover > ul.submenu {   /*you are HOVERING OVER ul.menu li but you are CHANGING ul.submenu*/
        visibility: visible;
        opacity: 1;
     }
    /* Step 4. Add transitions to remove any jenkiness*/
    ul.submenu {
        transition: all 10s ease;
    }
    
 }